<body>
    <div class="container-footer">
        <footer class="my-1">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="https://www.roblox.com/games/198116126/Tradelands" class="nav-link px-2 text-body-secondary">Tradelands</a></li>
                <li class="nav-item"><a href="https://tradelands.net/wiki/Main_Page" class="nav-link px-2 text-body-secondary">Wiki</a></li>
                <li class="nav-item"><a href="conditions" class="nav-link px-2 text-body-secondary">Terms and Conditions</a></li>
                <li class="nav-item"><a href="privacy" class="nav-link px-2 text-body-secondary">Privacy Policy</a></li>
            </ul>
            <p class="text-center text-body-secondary">© 2024 Tradelands Navy Database. All Rights Reserved.</p>
        </footer>
    </div>
    
</body>